table {
  width: 100%;
  margin: 20px 0;
}

mat-form-field {
  width: 100%;
}
button {
  margin: 5px;
}

th,
td {
  padding: 8px;
}

.column-name {
  width: 8%;
}

.column-status {
  width: 5%;
}

.column-due-date {
  width: 8%;
}

.column-address {
  width: 20%;
}

.column-phone {
  width: 10%;
}

.column-email {
  width: 10%;
}

.column-currency {
  width: 5%;
}

.column-due-amount {
  width: 10%;
}

.column-actions {
  width: 25%;
}
