mat-dialog-title {
  font-size: 20px;
}

mat-dialog-content {
  padding: 10px;
}

mat-dialog-actions {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
  width: 100%;
  align-items: center;
}
